@import "mixins";

.header_position_over header.top_panel {
  position: relative !important;
  background-color: #ffffff !important;
}

.body_wrap.with_pattern,.page_wrap.with_bg{
  background: none !important;
}
